<div class="container">
   <div class="card">
      
      <div class="card-block">
         <form novalidate [formGroup]="form">
            
            <div class="form-group">
               <label for="idPersona">idPersona</label>
               <input type="number" class="form-control" id="idPersona" formControlName="idPersona">
               
            </div>

            <div class="form-group">
               <label for="apellidoPersona">apellidoPersona</label>
               <input type="text" class="form-control" id="apellidoPersona" formControlName="apellidoPersona">
               
            </div>

            <div class="form-group">
               <label for="nombrePersona">nombrePersona</label>
               <input type="text" class="form-control" id="nombrePersona" formControlName="nombrePersona">
               
            </div>
            
            <div class="form-group">
               <label for="telefonoPersona">telefonoPersona</label>
               <input type="text" class="form-control" id="telefonoPersona" formControlName="telefonoPersona">
               
            </div>

    
            
         </form>
      </div>
   </div>
</div>